* {
    padding: 0;
    margin: 0;
}

body {
    margin: 0;
    list-style: none;
    line-height: normal;
    text-decoration: none;
}

nav {
    position: fixed;
}

:root {
    /* fonts */
    --font-inter: Poppins;
    --font-poppins: Poppins;

    /* font sizes */
    --font-size-mini: 15px;
    --font-size-xs: 12px;
    --font-size-xl: 20px;
    --font-size-sm: 14px;
    --font-size-13xl: 32px;
    --font-size-smi: 13px;
    --font-size-5xl: 24px;

    /* Colors */
    --main-color: rgba(213, 230, 255, 1);
    --second-color: rgba(42, 43, 106, 1);

    --color-lavender: #efedff;
    --color-black: #000;
    --color-gray-100: #161616;
    --color-gray-200: rgba(22, 22, 22, 0.75);
    --color-gray-202: rgba(22, 22, 22, 0.25);
    --color-white: #fff;
    --color-darkslategray: #013220;
    --color-darkslateblue: #2a2b6a;
    --color-darkslateblue-200: rgba(42, 43, 106, 0.25);
    --color-mediumslateblue: #8a79ff;

    /* Border radiuses */
    --br-3xs: 10px;
    --br-xl: 20px;
    --br-mini: 15px;
}